.imageWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 30%;
    margin: 1%;
  }
}

.editButton {
  width: 15px;
  height: 15px;
  background-image: url('./img/cross.svg');  
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  &:hover {
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
  }
}
