.Topic {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-image: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
  h1 {
      color: #fff;
      margin-left: 10px;
  }
}

.TopicWrapper {
  width: 600px;
  margin: 0 auto;
}





